{% extends 'base.html' %}
{% load i18n %} {# ADD THIS LINE #}

{% block title %}{% translate "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% translate "Change Your Password" %}</h1>
    <form method="post" class="card">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">{% translate "Change Password" %}</button>
        <a href="{% url 'booking_app:my_account' %}" class="btn-secondary">{% translate "Cancel" %}</a>
    </form>
{% endblock %}