{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n crispy_forms_tags %}

{% block title %}{% translate "Edit User" %}: {{ user_to_edit.username }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% translate "Edit User" %}: <strong>{{ user_to_edit.username }}</strong></h1>

                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <h2 class="h5 mt-4">{% translate "Personal Information" %}</h2>
                        <hr>
                        {{ form.email|as_crispy_field }}
                        {{ form.first_name|as_crispy_field }}
                        {{ form.last_name|as_crispy_field }}
                        {{ form.phone_number|as_crispy_field }}
                        {{ form.language|as_crispy_field }}

                        <h2 class="h5 mt-4">{% translate "Group Assignment" %}</h2>
                        <hr>
                        {{ form.groups|as_crispy_field }}

                        <div class="mt-5">
                            <h2 class="h5">{% translate "Password Management" %}</h2>
                            <hr>
                            <a href="{% url 'booking_app:admin_user_reset_password' pk=user_to_edit.pk %}" class="btn btn-warning">{% translate "Reset User Password" %}</a>
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" class="btn btn-primary">{% translate "Update User" %}</button>
                            <a href="{% url 'booking_app:admin_send_credentials' pk=user_to_edit.pk %}" class="btn btn-info">
                                {% translate "Send Login Credentials" %}
                            </a>
                            <a href="{% url 'booking_app:admin_user_list' %}" class="btn btn-secondary me-2">{% translate "Cancel" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}