{# templates/change_password.html #}
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% translate "Change Your Password" %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {# Renders fields for old password, new password, new password confirmation #}
        <button type="submit" class="btn">{% translate "Change Password" %}</button>
        <a href="{% url 'booking_app:my_account' %}" class="btn-secondary">{% translate "Cancel" %}</a>
    </form>
{% endblock %}