{# truck_booking_app/templates/home.html #}
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
    <h1>{% translate "Welcome to Iveco Demo Booking App!" %}</h1>
    <p>{% translate "A new way of bookings demonstration vehicles for your clients." %}</p>

    {% if user.is_authenticated %}
        <p>{% translate "Here you can find the right truck for you next sale." %}</p>
        <div class="call-to-action">
            <a href="{% url 'booking_app:vehicle_list' %}" class="btn">{% translate "Browse Available Vehicles" %}</a>
        </div>
    {% else %}
        <p>{% translate "Please log in to browse available trucks and manage your bookings." %}</p>
        <div class="call-to-action">
            <a href="{% url 'booking_app:login_user' %}" class="btn">{% translate "Login" %}</a>
        </div>
    {% endif %}
{% endblock %}